/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.main-div {
	width: 500px;
	margin: auto;
}

.full-width {
	width:100%;
}

.menu-item {
	flex: 1 1 auto;
}

.icon-button {
  padding: 0 14px;
}
