<mat-toolbar>
	<mat-toolbar-row>
	<span class="menu-item">
		<mat-form-field class="mat-h2 full-width">
			<input matInput [matDatepicker]="picker" [(ngModel)]="diaryDate" (dateChange)="getEntries(myDate.value)" #myDate>
			<mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</span>
	<span class="icon-button">
		<button mat-mini-fab color="primary" routerLink="/add-entry/{{ diaryDate | date:'yyyy-MM-dd' }}">
			<mat-icon aria-label="create new entry for the date">add</mat-icon>
		</button>	
	</span>
	</mat-toolbar-row>
</mat-toolbar>
<br>

<mat-accordion>
	<mat-expansion-panel *ngFor="let entry of entries">
		<mat-expansion-panel-header>
			<mat-panel-title class="mat-h3">
				{{ entry.title }}
			</mat-panel-title>
			<mat-panel-description>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<p>
			{{ entry.text }}
		</p>
		<mat-action-row>
			<button mat-button color="warn" (click)="deleteEntries(entry.id)">
				<mat-icon aria-label="Delete the entry">delete</mat-icon> Delete		
			</button>
			<button mat-button color="primary" routerLink="/add-entry/{{ diaryDate | date:'yyyy-MM-dd' }}/{{ entry.id }}">
				<mat-icon aria-label="Update the entry">edit</mat-icon> Update		
			</button>
		</mat-action-row>
		</mat-expansion-panel>
</mat-accordion>